.page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
    min-width: 320px;
    background-color: #191D2C;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #E1FD2C;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}