.gallery {
    max-width: 100%;
    min-width: 280px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    border-bottom: 1px solid #E1FD2C;
    border-left: 1px solid #E1FD2C;
    border-right: 1px solid #E1FD2C;
}

@media screen and (max-width: 1440px) {
    .gallery {
        border-left: none;
        border-right: none;
    }
}

@media screen and (max-width: 768px) {
    .gallery {
        padding: 34px 34px 0 34px;
        grid-template-columns: repeat(1, 100%);
    }
}

@media screen and (max-width: 520px) {
    .gallery {
        padding: 20px 20px 0 20px;
    }
}