.hero__title {
    width: 560px;
    margin: 30px auto 0;
    padding: 0;
    font-size: 65px;
    line-height: 1.12;
    font-weight: 400;
    color: #E1FD2C;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .hero__title {
        max-width: 100%;
    }
}
  
@media screen and (max-width: 520px) {
    .hero__title {
        padding: 26px 0 0;
        font-size: 38px;
        line-height: 1.31;
    }
}