.gallery__container_slider {
    margin: 0;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .gallery__container_slider {
        padding: 50px 16px 50px 16px;
        grid-template-columns: repeat(1, 100%);
    }
}

@media screen and (max-width: 520px) {
    .gallery__container_slider {
        padding: 50px 0 20px 0;
    }
}