.facts {
    width: 100%;
    min-width: 320px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    border-bottom: 1px solid #E1FD2C;
}

@media screen and (max-width: 940px) {
    .facts {
        grid-template-columns: repeat(1, 100%);
    }
}