.header__menu-close {
    margin: 0 50px 0 154px;
    padding: 0;
    width: 26px;
    height: 22px;
    background: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 26px;
    cursor: pointer;
    transition: 0.4s;
    font-size: 0;
    border: none;
}

@media screen and (max-width: 768px) {
    .header__menu-close {
        margin: 0 34px 0 154px;
        background-image: url('../../../images/burger-menu-close.svg');
    }
}

@media screen and (max-width: 520px) {
    .header__menu-close {
        margin: 0 20px 0 0;
    }
}