.footer {
    width: 100%;
    min-width: 320px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

@media screen and (max-width: 640px) {
    .footer {
        grid-template-columns: repeat(1, 100%);
    }
}